/* Big tablets to smaller laptops screen */
@media only screen and (max-width:1200px) {
    html,
    body {
	    font-size: 14px;
	    
    }
    .about-para {
        /* margin-bottom: 20px; */
        margin-top: 30px;
        
    }

    .section-heading,
    .service-heading,
    .testimonial-heading,
    .packages-heading,
    .contact-heading {
     margin-top: 0px ;
    }

    .big-icon {
        margin-bottom: 15px;
    }
}

/* Smaller tablets to larger tablet screens */
@media only screen and (max-width:1023px) {
    
}

/* larger phones to smaller tablets */
@media only screen and (max-width:767px) {
    
}

/* smaller to larger mobile phones */
@media only screen and (max-width:479px) {
    
}